<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8">
		<title>Meu Projeto</title>
		<link rel="stylesheet" href="./css/style.css">

	</head>

	<body>
		<header>
			<h1 class="titulo-principal">Meus Projetos</h1>
		</header>
		<img id="banner" src="./image/banner.jpg">
		<div class="principal">
			<h2 class="titulo-centralizado">Sobre o Meu Projeto</h2>
	 
			<p>O <strong>Meu Projeto</strong> tem por objetivo a Gestão dos Projetos do alunos do Curso de Análise de Sistemas da Faculdade Cesusc.</p>

			<p id="missao"><em>Nossa missão é: <strong>"Proporcionar aos alunos a visibilidade e acompanhamento das etapas dos seus Projetos de PMI ao longo de todas as fases do Curso."</strong>.</em></p>

			<p>Os alunos vão cadastrar os dados principais dos seus projetos, a evolução de cada etapa e , por fim, a visualização dos projetos por meio de um Dashboard .</p>
		</div>
		<img id="banner" src="https://t.ctcdn.com.br/I57q7__L1DbsBY-b47yZMXFPnjM=/filters:watermark(wm/v1.png,center,center,1,20)/i257633.jpeg">

		<div class="beneficios">
			<h3 class="titulo-centralizado">Benefícios</h3>

			<ul>
				<li class="itens">Centralização dos Projetos em um local.</li>
				<li class="itens">Visualização da evolução do Projetos</li>
				<li class="itens">Links para o Sites Externos de Documentação </li>
				<li class="itens">Visibilidade para os alunos e professores.</li>
			</ul>

			<img src="./image/beneficios.jpg" class="imagembeneficios">
		</div>
	</body>
</html>